/* 
    * Google fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* 
    * Css variable
*/
:root{
    /* 
        *Colors
    */
    --golden:hsl(47,95,54,100%);
    --rose:hsl(343,80,65,100%);
    --forest:hsl(179,55,31,100%);

    /* 
        *Fonts
    */
    --body-font:'Jost',sans-serif;
    --second-font:"Caveat",cursive;
    --h1-font-size:40px;
    --h2-font-size:35px;
    --h3-font-size:28px;
    --h4-font-size:24px;
    --h5-font-size:22px;
    --large-font-size:20px;
    --normal-font-size:16px;
    --tiny-font-size:13px;

    /* 
        *shadow
    */
    --shadow:5px 5px rgb(255 255 255 / 10%);
}

/* 
    *init
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: white;
}
a{
    text-decoration: none;
}
p{
    line-height: 1.7;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
header{
    height: 80px;
    display: flex;
    place-items: center;
    justify-content: center;
    gap: 500px;


}
.logo{
    width: 45px;
    height: 45px;
}
.list-items{
    display: flex;
    gap: 20px;
}
.item{
    font-weight: bold;
    font-size: var(--large-font-size);
}
.hero{
    border: 1px solid black;
    width: 100%;
    display: flex;
    background-color: #237978 ;
    padding: 30px 0 0 120px;
}
.intro,.illu_Part{
    width: 50%;
}
.intro h1{
    font-size: var(--h1-font-size);
    line-height: 1.2;
}
.intro p{
    font-family: var(--second-font);
    font-size: var(--large-font-size);
    max-width: 450px;
    font-weight: bold;
    margin-bottom:12px  ;
}
.intro>p>span {
    color: white;
}
.intro button{
    padding: 12px 20px;
    border-radius: 11px;
    color: #204EB2;
    font-weight: bold;
    text-align: center;
    background-color: #F9C818;
}
.roses{
    width: 100%;
    margin-top: 20px;
    display: flex;
    margin: 50px auto;

}
.rose_part,.text_part{
    width: 50%;
}
.rose_part img{
    width: 400px;
    height: 300px;
    margin: 0 0 0 30px;
    border-radius: 20px;
    z-index: 1;
    position: relative;
    margin-left: 80px;
    
}
.rose_part::before{
    content: "";
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #ED6088 ;
    bottom: -290px;
    left: -30px;
    z-index: -1;
    overflow: hidden;
    margin-left: 10px;
}
.text_part{
    margin-right: 100px;
}
.text_part h2{
    color: #F9C818;
    margin-bottom: 20px;
}
.text_part p{
    font-size: var(--large-font-size);
    max-width: 450px;
    font-weight: bold;
    margin-bottom:12px  ;
}
.text_part span{
    color: #237978;
}