@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Jost',sans-serif;
    font-size: 16px;
    background-color: white;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
p{
    line-height: 1.7;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
}
img{
    max-width: 100%;
}
header{
    width: 100%;
    margin: 0 auto;
    height: 80px;
    display: flex;
    place-items: center;
    justify-content: center;
    gap: 500px;
}
.img_logo{
    width: 45px;
    height: 45px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 12px;
}
.logo p{
    font-weight: bold;
}
.list-items{
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
}
.item{
    font-weight:600;
    font-size:20px;
}
.item>img{
    height: 7px; 
    width: 10px;
}
.blurry{
    background-color: hsl(0%, 0%, 100% /.2);
    color: white;
    border: 1px solid hsl(0%,0%,100%/.2);
    padding: 3rem 2rem;
    font-size: clamp(23px,5vmax,20px);
    line-height: 1.5;
    text-align: center;
    backdrop-filter: blur(30px);
    border-radius: 20px;
    width: 50%;
    margin: 8% auto;
    
}
.blurry h1{
    color: white;
    font-size: 28px;
}
.first{
    background-image: url("./images/background.jpeg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

.menu{
    position: absolute;
    right: 25%;
    top: 13%;
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 12px;
    z-index: 1;
    display: none;
}
.list-menu{
    list-style: none;
}
.menu_item{
    padding: 14px 0 0 12px;
}
a:visited{
    color: #2A4B20;
}
nav svg{
    width: 20px;
    height: 20px;
    display: none;
}
.Small-list{
    display: none;
}
.second{
    background-color: #2A4B20;
    text-align: center;
    position: relative;
}
.second p{
    font-weight: bold;
    font-size: 20px;
    padding: 30px 0px;
    color: #A5C66B;
}
.second span{
    color: white;
}
.second > .E1 , .Difference .E1{
    position: absolute;
    top: 0;
    right: 0;
    width: 9px;
    margin:12px 12px 0 0;
}
.second > .E2 ,.Difference .E2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 9px;
    margin:12px 0 0 12px;
}
.second > .E3 , .Difference .E3{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 9px;
    margin:0 12px 12px 0;
}
.second > .E4 , .Difference .E4{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 9px;
    margin:0 0 12px 12px;
}
.third{
    width: 100%;
    background-color: #A5C66B;
    padding: 25px 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 120px;
}
.third .content h2{
    color: #2A4B20;
    font-size: 25px;
    margin-bottom: 13px;
}
.third .content p{
    max-width: 500px;
    font-family: 'Caveat',cursive;
    line-height: 1.9;
    font-size: 21px;
    color: white;
}
.third img {
    width: 350px;
    height: 350px;
    object-fit: contain;
}
.Adventice{
    width: 100%;
    background-color: #2A4B20;
    padding: 25px 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 120px;
}
.Adventice .content h2{
    color: white;
    font-size: 25px;
    margin-bottom: 13px;
}
.Adventice .content p{
    max-width: 500px;
    font-family: 'Caveat',cursive;
    line-height: 1.9;
    font-size: 21px;
    color: #A5C66B;
}
.Adventice img{
    width: 350px;
    height: 350px;
    object-fit: contain;
}
.Difference{
    background-color: #A5C66B;
    gap: 12px;
    padding: 0 90px;
    position: relative;
    width: 100%;
    height: 70vh;
}
.text h3{
    text-align: center;
    padding: 20px 0;
}
.text p{
    text-align: justify;
    display: flex;
    padding: 22px auto;
    color: white;
    font-size: 20px;
    line-height: 1.8;
    font-family: 'Caveat',cursive;
}
.Mono{
    background-color: #2A4B20;
    display: flex;
    justify-content: space-evenly;
}
.MonoContent{
    padding: 20px;
}
.MonoTitle{
    margin-bottom: 13px;
    color: white;
    font-size: 24px;
}
.MonoContent p{
    color: #A5C66B;
    font-family: "Caveat",cursive;
    font-size: 22px;
    max-width: 450px;
}
.Mono img{
    width: 400px;
    height: 400px;
    padding: 20px;
    object-fit: contain;
}
.Deco{
    background-color: #A5C66B ;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    width: 100%;
}
.Deco img , .Deco .content{
    width: 50%;
}
.Deco img{
    width: 400px;
    height: 400px;
    object-fit: contain;
}
.Deco .content .title{
    padding: 0 0 20px 0;
}
.Deco .content p{
    line-height: 1.8;
    font-family: "Caveat",cursive;
    font-size: 20px;
    color: white;
}
.DMD{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #2A4B20;
    padding-bottom: 20px;
}
.DMD h5{
    text-align: center;
    font-size: 22px;
    color: white;
    margin-top: 22px;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 22px;
    
}
.card{
    background-color: #A5C66B;
    padding: 20px 15px;
    height: 225px;
    border-radius: 25px;
}
.card h6{
    font-size: 19px;
    margin-bottom: 12px;
}
.card ul{
    list-style: none;
}
.card li{
    padding: 2px 0;
}
.card .long{
    max-width: 400px;
}
.contact{
    background-color: #A5C66B;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    font-family: 'Caveat',cursive;
    font-weight: bold;
    padding: 20px 0;
}
.col h1 , .col2{
    display: flex;
    flex-direction: column;
    color: white;
}
.col ul{
    list-style: none;
    padding-left: 10px;
    padding-top: 5px;
}
.col2 h1{
    padding-bottom: 10px;
}
.col2 .reseau img{
    padding: 0 5px;
}
footer{
    background-color: #2A4B20;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 70px;
}
footer h6{
    font-weight: bold;
    font-size: 15px;
}
footer h6 span{
    color: #A5C66B;
}
@media (min-width:346px) and (max-width:600px){
    header{
        gap: 0;
        position: relative;
        /* background-size: 300vw; */
    }
    .logo{
        position: absolute;
        left: 50px;
        display: flex;
        margin: -31px 0 0 -40px;
        gap: 7px;
    }
    .first{
        height: 70vh;
    }
    .img_logo{
        width: 24px;
        height: 24px;
    }
    .list-items{
        display: none;
    }
    nav svg{
        display: block;
        position: fixed;
        right: 20px;
        top: 15px;
    }
    .phone-nav{
        position: relative;
    }
    .phone-nav:hover .Small-list{
        display: flex;
        flex-direction: column;
        position: fixed;
    }
    .Small-list{
        background-color: white;
        width: 186px;
        height: 210px;
        border-radius: 8px;
        z-index: 2;
        position: absolute;
        top: 40px;
        right: 40px;
        list-style: none;
    }
    .Small-list .itemS{
        padding: 2px 0 0 12px;
    }
    .list-menuS{
        list-style: none;
        padding: 6px 0;
    }
    .itemS{
        font-weight: 500;
    }
    .blurry{
        width: 300px;
        padding: 10px auto;
    }
    .blurry h1{
        font-size: 22px;
    }
    .second p{
        font-size: 16px;
    }
    .third , .Adventice{
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
    }
    .third img , .Adventice img , .Mono img , .Deco img{
        width: 300px;
        height: 300px;
        object-fit: none;
        margin: 0 auto;
        border-radius: 20px ;
    }
    .Difference{
        height: 100vh;
    }
    .Difference h3{
        font-size: 14px;
        padding: 10px;
    }
    .text p{
        display: block;
        color: white;
        font-size: 17px;
        line-height: 0.9;
        font-family: 'Caveat',cursive;
    }
    .Mono{
        background-color: #2A4B20;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .MonoContent h2{
        font-size: 25px;
    }
    .MonoContent p{
        color: #A5C66B;
        font-family: "Caveat",cursive;
        font-size: 18px;
        max-width: none;
    }
    .Mono img{
        width: 350px;
        height: 350px;
        border-radius: 35px;
    }
    .Deco{
        justify-content: center;
        flex-direction: column;
    }
    .Deco .content {
        width: 100%;
    }
    .Deco .content .title{
        font-size: 20px;
        padding-top: 20px;
    }
    .Deco .content p{
        font-size: 18px;
        
    }
    .cards{
        flex-direction: column;
        width: 100%;
    }
    .card{
        height: 225px;
        width: 100%;
        margin: 0 50px;
    }
    .contact{
        justify-content: left;
    }
    .col{
        padding: 0;
    }
    .col2{
        margin-top: 6px;
    }
    .col , .col2{
        margin:0 0 0 12px;
    }
    footer h6{
        font-size: 14px;
        text-align: center;
    }
}
@media (min-width:601px) and (max-width:900px)
{
    .first{
        display: flex;
        align-items: center;
    }
    .img_logo{
        width: 35px;
        height: 35px;
    }
    .logo{
        position: absolute;
        top: 18px;
        left: 20px;
    }
    .list-items{
        position: absolute;
        right: 10px;
        top: 19px;
    }
    .menu{
        position: absolute;
        top: 40px;
    }
    .blurry{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 450px;
        margin: 0;
        padding: 15px auto;
    }
    .blurry h1{
        font-size: 25px;
    }
    .third,.Adventice{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        gap: 40px;
    }
    .third p , .Adventice p{
        font-size: 2px;
        line-height: 0.5;
        max-width: 50px;
    }
    .third img , .Adventice img{
        width: 300px;
        height: 300px;
        object-fit: none;
        margin: 0 auto;
        border-radius: 20px ;
    }
    .Difference{
        height: 100vh;
    }
    .text p{
        color: white;
        padding: 0 auto;
        font-size: 20px;
        line-height: 1.5;
        font-family: 'Caveat',cursive;
    }
    .Mono{
        display: flex;
        flex-wrap: wrap;
    }
    .MonoContent p{
        max-width: 550px;
    }
    .Deco{
        justify-content: center;
        flex-wrap: wrap;
    }
    .Deco .content {
        width: 100%;
    }
    .Deco .content .title{
        font-size: 20px;
        padding-top: 20px;
    }
    .Deco .content p{
        font-size: 18px;
    }
    .cards{
        gap: 10px;
    }
    .card{
        height: 225px;
    }
    .card li{
        padding: 0 ;
    }
    .DMD{
        height: 330px;
    }
}
@media (min-width:901px){
    .first{
        display: flex;
        align-items: center;
    }
    .logo{
        position: absolute;
        top: 10px;
        left: 20px;
    }
    .list-items{
        position: absolute;
        right: 10px;
        top: 19px;
    }
    .menu{
        position: absolute;
        top: 40px;
    }
    .blurry{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 500px;
        margin: 0;
        padding: 15px auto;
    }
    .blurry h1{
        font-size: 30px;
    }
    .Difference{
        height: 80vh;
    }
    .text p{
        color: white;
        font-size: 22px;
        line-height: 1.7;
        font-family: 'Caveat',cursive;
    }
}